[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
flask = "*"
raven = {extras = ["flask"]}
waitress = "*"
slackclient = "*"

[dev-packages]
redis = "*"
codecov = "*"
coverage = "*"
pre-commit = "*"
pycodestyle = "*"
pydocstyle = "*"
isort = "*"
pylint = "*"
pytest = "*"
pytest-mypy = "*"
