[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

redis = "*"
slackclient = "*"
flask = "*"
raven = {extras = ["flask"]}
waitress = "*"


[dev-packages]

redis = "*"
slackclient = "*"
pytest = "*"
codecov = "*"
coverage = "*"
pre-commit = "*"
pycodestyle = "*"
pydocstyle = "*"
isort = "*"
pylint = "*"
