[tool.poetry]
name = "stanley"
version = "0.1.0"
description = ""
authors = []

[tool.poetry.dependencies]
python = "3.9.4"
redis = "*"
flask = "*"
waitress = "*"
typing-extensions = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
slack-sdk = "^3.18.1"

[tool.poetry.dev-dependencies]
redis = "*"
codecov = "*"
coverage = "*"
pre-commit = "*"
pycodestyle = "*"
pydocstyle = "*"
isort = "*"
pylint = "*"
pytest = "*"
pytest-mypy = "*"
mypy = "*"
typing-extensions = "*"
types-redis = "^4.3.16"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
